<launch>
    <arg name="ego_actor" default='ego_vehicle'/>
    <arg name="carla_settings_file" default="$(find zzz_driver_simulators_carla_adapter)/launch/server.launch.yaml"/>
    <rosparam file="$(arg carla_settings_file)" command="load" />

    <arg name="role_name" value="$(arg ego_actor)" />
    <arg name="objects_definition_file" default='$(find zzz_driver_simulators_carla_adapter)/config/sensors_0911.json'/>
    <!-- use comma separated format "x,y,z,roll,pitch,yaw", 
      and parameter name spawn_point_<vehicle_name>. You can add
      as many spawn_point as vehicles defined in objects_definition_file-->
    <arg name="spawn_point_ego_vehicle" default="137,-220,1,0,0,90"/> 
    <arg name="spawn_sensors_only" default="false"/>

    <node pkg="carla_spawn_objects" type="carla_spawn_objects.py" name="$(anon carla_spawn_objects)" output="screen">
      <param name="objects_definition_file" value="$(arg objects_definition_file)" />
      <param name="spawn_point_ego_vehicle" value="$(arg spawn_point_ego_vehicle)" />
      <param name="spawn_point_ego_vehicle" value="$(arg spawn_point_ego_vehicle)" />

    </node>

    <arg name='control_id' default='control'/>
    
    <node pkg="carla_spawn_objects" type="set_initial_pose.py" name="set_initial_pose_$(arg role_name)" output="screen">
      <param name="role_name" value="$(arg role_name)" />
      <param name="control_id" value="$(arg control_id)" />
    </node>
    <node pkg="carla_ros_bridge" name="carla_ros_bridge" type="bridge.py" output="screen" respawn="true" />
    <!-- <node pkg="carla_waypoint_publisher" type="carla_waypoint_publisher.py" name="carla_waypoint_publisher" output="screen">  -->
         <param name="role_name" value="$(arg ego_actor)" /> 
    <node pkg="zzz_driver_simulators_carla_adapter" type="leftturn_env" name="leftturn_env" output="screen" respawn="true"> 
    </node>
</launch>
