<launch>

    <node pkg="zzz_driver_simulators_carla_adapter" type="convert_topic" name="convert_objects" output="screen">
        <param name="input_topic" value="/carla/ego_vehicle/objects" />
        <param name="output_topic" value="/zzz/perception/objects_tracked" />
        <param name="msg_type" value="ObjectArray" />
    </node>

</launch>
