<launch>
    <include file="/home/carla/Carla/zzz/config/launch/full_stack/perception.launch">
        <arg name="enable_camera" value="false"/>
        <arg name="enable_lidar" value="false"/>
    </include>
    <include file="/home/carla/Carla/zzz/config/launch/full_stack/planning.launch">
        <arg name="objects_topic" value="/zzz/perception/objects_truth"/>
    </include>
    <include file="$(dirname)/auxiliary.launch"/>
</launch>
