<launch>

  <!--- Sim Time -->
  <param name="/use_sim_time" value="true" />
  <param name="path_cam0" value="/data/test_pcd/test_32lidar/cam0/" />


  <!--- topics -->
  <param name="imu_topic" value="/kitti/oxts/imu" />
  <param name="gps_topic" value="/kitti/oxts/gps/fix" />

  <!--- LeGO-LOAM -->
  <node pkg="cv_test" type="imuGPS2odom" name="imuGPS2odom" output="screen">
  </node>


</launch>
