<launch>

   
      <param name="path_cam0" value="/media/watrix/a7c506fc-e622-4a31-95b6-519e6ba5575d/home/watrix/scripts/record/2019528/7/cam0/" />
      <param name="path_cam1" value="/media/watrix/a7c506fc-e622-4a31-95b6-519e6ba5575d/home/watrix/scripts/record/2019528/7/cam1/" />
      <param name="path_pcd" value="/media/watrix/a7c506fc-e622-4a31-95b6-519e6ba5575d/home/watrix/scripts/record/2019528/7/pcd/" />

      <!--- topics --> 
      <param name="cam0_topic" value="/short_cam/usb_cam/image_color/compressed" />
      <param name="cam1_topic" value="/long_cam/usb_cam/image_color/compressed" />

      <param name="pcd_topic" value="/iv_points" />

    <!--- LeGO-LOAM -->    
    <node pkg="cv_test" type="test_syc_2cam_pcd"    name="test_syc_2cam_pcd"    output="screen">
   </node>
    

</launch>
