<launch>
    <!-- HOW TO CHANGE: 1. change this argument, 2. change the challenge.yaml-->
    <arg name="vehicle" value="zzz_veh1"/>

    <!-- Run Carla Bridge -->
    <rosparam file="/home/jacobz/Carla/zzz/config/launch/challenge.yaml" command="load" />
    <node pkg="carla_ros_bridge" name="carla_client" type="client.py" output="screen"/>
    <node pkg="zzz_driver_simulators_carla_challenge" name="path_generate" type="generate" output="screen"/>

    <node pkg="zzz_navigation_pose_reporter" type="manual"
        name="pose_reporter" output="screen" ns="/zzz/navigation">
        <param name="map_origin" value="[49,8,0]"/>
        <param name="odom_input_topic" value="/carla/$(arg vehicle)/odometry"/>
    </node>

    <node pkg="zzz_cognition_object_locator" type="nearest_locator"
        name="nearest_locator" output="screen" ns="/zzz/cognition">
        <param name="objects_topic" value="/zzz/perception/objects_truth"/>
    </node>
    <node pkg="zzz_cognition_reference_path" type="put_buffer"
        name="put_buffer" output="screen" ns="/zzz/cognition">
        <param name="reference_path_topic" value="/zzz/navigation/reference_path"/> 
    </node>
    <node pkg="zzz_planning_decision_lane_models" type="idm_lane_utility"
        name="idm_lane_utility" output="screen" ns="/zzz/planning">
    </node>
    <node pkg="zzz_planning_decision_safeguard" type="reachable_set"
        name="safeguard" output="screen" ns="/zzz/planning">
    </node>
    <node pkg="zzz_control_latlon_controllers" type="pure_persuit"
        name="latlon_controller" output="screen" ns="/zzz/control">
    </node>

    <node pkg="zzz_driver_simulators_carla_adapter" type="convert_topic" name="convert_command" output="screen">
        <param name="input_topic" value="/zzz/control/command" />
        <param name="output_topic" value="/carla/$(arg vehicle)/vehicle_control_cmd" />
        <param name="msg_type" value="ControlCommand" />
    </node>
    <node pkg="zzz_driver_simulators_carla_adapter" type="convert_topic" name="convert_objects" output="screen">
        <param name="input_topic" value="/carla/$(arg vehicle)/objects" />
        <param name="output_topic" value="/zzz/perception/objects_truth" />
        <param name="msg_type" value="ObjectArray" />
    </node>
</launch>
