<launch>
    <node pkg="zzz_navigation_pose_reporter" type="manual"
          name="pose_reporter" output="screen" ns="/zzz/navigation">
        <param name="map_origin" value="[49,8,0]"/>
        <param name="odom_input_topic" value="/carla/ego_vehicle/odometry"/>
    </node>
    <node pkg="zzz_navigation_map_provider_sumo" type="local_map_generator"
          name="static_map_builder" output="screen" ns="/zzz/navigation">
    </node>
    <node pkg="zzz_cognition_object_locator" type="nearest_locator"
          name="nearest_locator" output="screen" ns="/zzz/cognition">
    </node>
    <node pkg="zzz_cognition_reference_path" type="put_buffer"
          name="put_buffer" output="screen" ns="/zzz/cognition">
        <param name="reference_path_topic" value="/carla/ego_vehicle/waypoints"/>
    </node>
    <node pkg="zzz_planning_decision_lane_models" type="idm_lane_utility"
          name="idm_lane_utility" output="screen" ns="/zzz/planning">
    </node>
    <node pkg="zzz_planning_decision_safeguard" type="reachable_set"
          name="safeguard" output="screen" ns="/zzz/planning">
    </node>
    <node pkg="zzz_control_latlon_controllers" type="pure_persuit"
          name="latlon_controller" output="screen" ns="/zzz/control">
    </node>

    <!-- Command converter -->
    <node pkg="zzz_driver_simulators_carla_adapter" type="convert_topic" name="convert_command" output="screen">
        <param name="input_topic" value="/zzz/control/command" />
        <param name="output_topic" value="/carla/ego_vehicle/vehicle_control_cmd" />
        <param name="msg_type" value="ControlCommand" />
    </node>

    <!-- Carla viewer -->
    <node pkg="image_view" type="image_view" name="birds_eye_view">
        <remap from="image" to="/carla/ego_vehicle/camera/rgb/Sky/image_color" />
    </node>
</launch>
