<launch>
    <node pkg="zzz_navigation_map_provider_sumo" type="local_map_generator"
          name="static_map_builder" output="screen">
    </node>
    <node pkg="zzz_cognition_object_locator" type="nearest_locator"
          name="nearest_locator" output="screen">
    </node>
    <node pkg="zzz_cognition_reference_path" type="put_buffer"
          name="put_buffer" output="screen">
    </node>
    <!-- <node pkg="zzz_planning_decision_decision_main" type="decision_main_node"
          name="decision_main_node" output="screen">
    </node> -->
    <!-- <node pkg="zzz_control_pure_persuit_control" type="pure_persuit_controller_node"
          name="pure_persuit_controller_node" output="screen">
    </node> -->
    <!-- <node pkg="zzz_perception_detection_yolo_detector" type="yolo"
          name="yolo_node" output="screen">
          <env name="PYTHONPATH" value="$(env PYTHONPATH):/home/carla/.conda/envs/torchpy2/lib/python2.7/site-packages"/>
    </node>  -->
    <!-- <node pkg="zzz_planning_decision_safeguard" type="decision_safeguard_node"
          name="safeguard_node" output="screen">
    </node>  -->
</launch>
