<launch>
    <node pkg="zzz_perception_detection_lidar_detectors" type="euclidean_cluster"
          name="euclidean_detector" output="screen">
        <remap from="/objects" to="/objects_detected"/>
    </node>
    <node pkg="zzz_perception_detection_lidar_filters" type="lshape"
          name="euclidean_lshape" output="screen">
    </node>
    <node pkg="zzz_perception_detection_lidar_filters" type="criteria"
          name="euclidean_criteria" output="screen">
        <remap from="/objects_detected" to="/objects_lshape"/>
    </node>
    <node pkg="zzz_visualization_rviz_detection_visualizer" type="bbox"
          name="euclidean_visualize" output="screen">
        <remap from="/objects_detected" to="/objects_filtered"/>
        <param name="marker_lifetime" value="0.5"/>
    </node>
</launch>
