<launch>
  <group ns="middle">
    <arg name="lidar_model" default="RS32" />
    <arg name="lidar_param_path" default="$(find rslidar_pointcloud)/data/rs_lidar_32/" />

    <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
      <param name="model" value="$(arg lidar_model)"/>
      <param name="device_ip" value="192.168.110.200"/>
      <param name="msop_port" value="6600"/>
      <param name="difop_port" value="6800"/>
      <param name="time_synchronization" value="true"/>

      <param name="model" value="$(arg lidar_model)"/>
      <param name="curves_path" value="$(arg lidar_param_path)/curves.csv" />
      <param name="angle_path" value="$(arg lidar_param_path)/angle.csv" />
      <param name="channel_path" value="$(arg lidar_param_path)/ChannelNum.csv" />
      <param name="curves_rate_path" value="$(arg lidar_param_path)/CurveRate.csv" />
      <param name="start_angle" value="0" />
      <param name="end_angle" value="360" />
      <param name="shm_enable" value="false" />
      <param name="shm_key" value="200" />
    </node>
  </group>
</launch>
