<launch>
  <group ns="right">
    <arg name="lidar_model" default="RSBPEARL" />
    <arg name="lidar_param_path" default="$(find rslidar_pointcloud)/data/rs_bpearl/" />

    <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
      <param name="model" value="$(arg lidar_model)"/>
      <param name="device_ip" value="192.168.110.202"/>
      <param name="msop_port" value="6604"/>
      <param name="difop_port" value="6605"/>
      <param name="time_synchronization" value="true"/>

      <param name="model" value="$(arg lidar_model)"/>
      <param name="curves_path" value="$(arg lidar_param_path)/curves.csv" />
      <param name="angle_path" value="$(arg lidar_param_path)/angle.csv" />
      <param name="channel_path" value="$(arg lidar_param_path)/ChannelNum.csv" />
      <param name="curves_rate_path" value="$(arg lidar_param_path)/CurveRate.csv" />
      <!-- if start_angle and end_angle set at [0, 360] degree, the feature activate, the angle is clock-wise from top-view/-->
      <param name="start_angle" value="0" />
      <param name="end_angle" value="360" />
      <param name="shm_enable" value="false" />
      <param name="shm_key" value="201" />

    </node>
  </group>
</launch>
