<launch>
    <include file="$(env ZZZ_ROOT)/zzz/config/launch/full_stack/perception.launch">
    </include> 
    <include file="$(env ZZZ_ROOT)/zzz/config/launch/full_stack/planning.launch">
        <arg name="objects_topic" value="/zzz/perception/objects_tracked"/>
    </include>
    <!-- xiaopeng adpater -->
    <!-- <include file="$(env ZZZ_ROOT)/zzz/src/driver/simulators/carla/carla_adapter/scripts/use_bridge/auxiliary.launch"/> -->
</launch>
