<!-- Planning & Control -->
<launch>
    <arg name="odom_topic" default="/carla/ego_vehicle/odometry"/>
    <arg name="waypoint_topic" default="/carla/ego_vehicle/waypoints"/>
    <arg name="objects_topic" default="/zzz/perception/objects_tracked"/>

    <node pkg="zzz_navigation_pose_reporter" type="manual"
          name="pose_reporter" output="screen" ns="/zzz/navigation">
        <param name="map_origin" value="[49,8,0]"/>
        <param name="odom_input_topic" value="$(arg odom_topic)"/>




        
    </node>
    <node pkg="zzz_navigation_map_provider_sumo" type="local_map_generator"
          name="static_map_builder" output="screen" ns="/zzz/navigation">
        <param name="reference_path_topic" value="$(arg waypoint_topic)"/>





    </node>
    <node pkg="zzz_cognition_object_locator" type="nearest_locator"
          name="nearest_locator" output="screen" ns="/zzz/cognition">
        <param name="objects_topic" value="$(arg objects_topic)"/>
    </node>
    <node pkg="zzz_cognition_object_locator" type="driving_space"
          name="driving_space" output="screen" ns="/zzz/cognition">
        <param name="objects_topic" value="$(arg objects_topic)"/>
    </node>
    <node pkg="zzz_cognition_object_locator" type="put_buffer"
          name="put_buffer" output="screen" ns="/zzz/cognition">
        <param name="reference_path_topic" value="$(arg waypoint_topic)"/>
    </node>

    <!-- <node pkg="zzz_planning_decision_continuous_models" type="rls_train"
          name="rls_train" output="screen" ns="/zzz/planning">
    </node> -->


    <!-- <node pkg="zzz_planning_decision_continuous_models" type="continuous_utility"
          name="continuous_utility" output="screen" ns="/zzz/planning">
    </node> -->


    <node pkg="zzz_planning_decision_lane_models" type="idm_lane_utility"
          name="idm_lane_utility" output="screen" ns="/zzz/planning">
    </node>

    <node pkg="zzz_planning_decision_safeguard" type="reachable_set"
          name="safeguard" output="screen" ns="/zzz/planning">
    </node>
    <node pkg="zzz_control_latlon_controllers" type="pure_persuit"
          name="latlon_controller" output="screen" ns="/zzz/control">
    </node>
</launch>
